<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>

<body>
<table class="mainTableClass menuPanel">
    <tr class="rowClass">
        <td class="columnClass">
            <div class="alignRight">
                <input class="inputButton" type="submit" onclick="location.href='/theatre';" value="Theatre Panel"/>
            </div>
        </td>
        <td class="columnClass">
            <div class="alignLeft">
                <input class="inputButton" type="submit" onclick="location.href='/play';" value="Play Panel"/>
            </div>
        </td>
    </tr>
</table>

<table class="mainTableClass">
    <tr class="rowClass">
        <th class="columnClass">
            <p class="titleClass textCenter">Current Theatre</p>
        </th>
        <th class="columnClass">
            <p class="titleClass textCenter">Performances list for this Theatre</p>
        </th>
    </tr>
    <tr class="rowClass">
        <td class="columnClass">
            <div class="textCenter">
                <div class="formContainer center theatrContainer">
                    <p class="titleClass textCenter" th:text="${theatre.name}"></p>
                    <table class="center">
                        <tr>
                            <td>City:</td>
                            <td th:text="${theatre.city}"></td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td th:text="${theatre.street} + ' ' + ${theatre.streetNumber}"></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td th:text="${theatre.email}"></td>
                        </tr>
                        <tr>
                            <td>Phone number:</td>
                            <td th:text="${theatre.phoneNumber}"></td>
                        </tr>
                        <tr>
                            <td>Row numbers:</td>
                            <td th:text="${theatre.allSeatsNumber}"></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="textCenter">
                <div class="formContainer center theatrContainer">
                    <form class="formClass center" action="#" th:action="@{/addTheaterPerformance}" th:object="${performanceProxy}" method="post"
                          xmlns="http://www.w3.org/1999/html">
                        <input  style="display:none" type="text" name="theatreId" id="setValue" th:value="${theatre.id}"/>
                        <table>
                            <tr>
                                <td>Play: </td>
                                <td>
                                    <select class="tableAddPerformance inputClass" th:field="*{playId}">
                                        <option class="inputClass" th:each="play : ${playsList}" th:value="${play.id}" th:text="${play.name}">Wireframe</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Date: </td>
                                <td>
                                    <input class="tableAddPerformance inputClass" type="date" id="date" name="date" placeholder="Date" th:field="*{date}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>Time: </td>
                                <td>
                                    <input class="tableAddPerformance inputClass " type="time" id="time" name="time" placeholder="Time" th:field="*{time}"/>
                                </td>
                            </tr>
                        </table>
                        <div class="textCenter">
                            <input class="inputButton" type="submit" value="Add"/>
                        </div>
                    </form>
                </div>
            </div>

        </td>
        <td>
            <div th:each="performance : ${performanceList}">
                <form  class="textCenter" th:id="${performance.id}" th:action="@{/choosePerformance}" th:object="${performance}" method="post" xmlns="http://www.w3.org/1999/html">
                    <input  style="display:none" type="text" name="id" th:id="${performance.id}" th:value="${performance.id}"/>
                    <button type="submit"  class="formContainer center theatrContainer">
                        <table class="center">
                            <tr>
                                <td>Theatre:</td>
                                <td th:text="${performance.theatre.name}"></td>
                            </tr>
                            <tr>
                                <td>Play:</td>
                                <td th:text="${performance.play.name}"></td>
                            </tr>
                            <tr>
                                <td>Date:</td>
                                <td th:text="${performance.date}"></td>
                            </tr>
                            <tr>
                                <td>Time:</td>
                                <td th:text="${performance.time}"></td>
                            </tr>
                        </table>
                    </button>
                </form>
            </div>
        </td>
    </tr>
</table>

</body>
</html>


