<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>

<body>
<table class="mainTableClass menuPanel">
    <tr class="rowClass">
        <td class="columnClass">
            <div class="alignRight">
                <input class="inputButton" type="submit" onclick="location.href='/theatre';" value="Theatre Panel"/>
            </div>
        </td>
        <td class="columnClass">
            <div class="alignLeft">
                <input class="inputButton" type="submit" onclick="location.href='/play';" value="Play Panel"/>
            </div>
        </td>
    </tr>
</table>
<p class="titleClass textCenter" th:text="${performance.play.name}"></p>
<p class="smallTitleClass textCenter" th:text="${performance.theatre.name}"></p>
<p class="smallTitleClass textCenter" th:text="${performance.date}"></p>
<p class="smallTitleClass textCenter" th:text="${performance.time}"></p>

<input  style="display:none" type="text" name="seatNumber" id="seatNumber" th:value="${seatNumber}"/>
<table align="center">
    <div th:each="row : ${seats}">
        <tr>
            <div th:each="seat : ${row.reservationSeats}">
                <td>
                    <form th:style="${seat.status} == true ? 'background-color:red' : 'background-color:green'" class="singleSeat seatForm" th:value="${seat.status}" th:id="${seat.id}" action="#" th:object="${changeSeatStatusProxy}" th:action="@{/changeSeatStatus}" method="post" xmlns="http://www.w3.org/1999/html">
                        <input  style="display:none" type="text" name="performanceId" id="performanceId" th:value="${performance.id}"/>
                        <input  style="display:none" type="text" name="seatId" id="seatId" th:value="${seat.id}"/>
                        <button type="submit" th:field="${seat.id}" class="seatClass"></button>
                    </form>
                </td>
            </div>
        </tr>
    </div>
</table>

<script th:inline="javascript">
    (function() {

    })();
</script>

</body>

</html>