<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>

    <style>
        .formContainer{
			margin-top: 50px;
			margin-bottom: 15px;
			padding: 20px;
			padding-top: 10px;
			width:20%;
			border-radius: 4px;
			border: 1px solid #ccc;
			background-color: #FAFAFA;
		}

		.center{
			margin: 0 auto;
		}

		.bodyClass{
		    padding: 50px;
		}

		.inputClass{
			margin-top:5px;
			margin-bottom: 5px;
			background-color: #fff;
			font-size: 14px;
			padding: 6px;
			border-radius: 4px;
			border: 1px solid #ccc;
			width: 100%;
			height: 34px;
		}

		.inputButton{
		    color: #fff;
			background-color: #286090;
			border-color: #204d74;
			cursor: pointer;
			display: inline-block;
			padding: 6px 12px;
			padding-left: 20px;
			padding-right: 20px;
			margin-bottom: 0;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.42857143;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			border: 1px solid transparent;
			border-radius: 4px;
		}
    </style>
</head>
    <body class="bodyClass">
        <form class="formContainer center" th:action="@{/login}" method="post">
            <div>
                <input class="inputClass" type="text" name="username" placeholder="Username"/>
            </div>
            <div>
                <input class="inputClass" type="password" name="password" placeholder="Password"/>
            </div>
            <div class="textCenter">
                <input class="inputButton" type="submit" value="Login"/>
            </div>
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
        </form>
    </body>
</html>