<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>

<body>

<table class="mainTableClass menuPanel">
    <tr class="rowClass">
        <td class="columnClass">
            <div class="alignRight">
                <input class="inputButton" type="submit" onclick="location.href='/theatre';" value="Theatre Panel"/>
            </div>
        </td>
        <td class="columnClass">
            <div class="alignLeft">
                <input class="inputButton" type="submit" onclick="location.href='/play';" value="Play Panel"/>
            </div>
        </td>
    </tr>
</table>


<table class="mainTableClass">
    <tr class="rowClass">
        <th class="columnClass">
            <p class="titleClass textCenter">Play panel</p>
        </th>
        <th class="columnClass">
            <p class="titleClass textCenter">List of Plays</p>
        </th>
    </tr>
    <tr class="rowClass">
        <td class="columnClass centerAdd">
            <div class="formContainerAdd center">
                <form class="formClass center" action="#" th:action="@{/play}" th:object="${play}" method="post"
                      xmlns="http://www.w3.org/1999/html">
                    <div class="textCenter">
                        <h3 class="titleClass"> New Play</h3>
                    </div>
                    <div>
                        <input class="inputClass" type="text" id="name" name="name" placeholder="Name" th:field="*{name}"/>
                    </div>
                    <div>
                        <textarea rows="5" id="descriptionClass" class="inputClass" name="description" placeholder="Description" th:field="*{description}"/>
                    </div>
                    <div class="textCenter">
                        <input class="inputButton" type="submit" value="Add"/>
                    </div>
                </form>
            </div>
        </td>
        <td class="columnClass">
            <div th:each="play : ${playsList}">
                <form  class="textCenter" th:id="${play.id}" th:action="@{/choosePlay}" th:object="${play}" method="post" xmlns="http://www.w3.org/1999/html">
                    <input  style="display:none" type="text" name="id" th:id="${play.id}" th:value="${play.id}"/>
                    <button type="submit"  class="formContainer center theatrContainer">
                        <p class="titleClass textCenter" th:text="${play.name}"></p>
                        <p class="textCenter" th:text="${play.description}"></p>
                    </button>
                </form>
            </div>
        </td>
    </tr>
</table>

</body>

</html>


