<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>

<body>

<table class="mainTableClass menuPanel">
    <tr class="rowClass">
        <td class="columnClass">
            <div class="alignRight">
                <input class="inputButton" type="submit" onclick="location.href='/theatre';" value="Theatre Panel"/>
            </div>
        </td>
        <td class="columnClass">
            <div class="alignLeft">
                <input class="inputButton" type="submit" onclick="location.href='/play';" value="Play Panel"/>
            </div>
        </td>
    </tr>
</table>

<table class="mainTableClass">
    <tr class="rowClass">
        <th class="columnClass">
            <p class="titleClass textCenter">Theatre panel</p>
        </th>
        <th class="columnClass">
            <p class="titleClass textCenter">List of Theatres</p>
        </th>
    </tr>
    <tr class="rowClass">
        <td class="columnClass centerAdd">
            <div class="formContainerAdd">
                <form class="formClass center" action="#" th:action="@{/theatre}" th:object="${theatre}" method="post"
                      xmlns="http://www.w3.org/1999/html">
                    <div class="textCenter">
                        <h3 class="titleClass"> New Theatre</h3>
                    </div>
                    <div>
                        <input class="inputClass" type="text" id="name" name="name" placeholder="Name" th:field="*{name}"/>
                    </div>
                    <div>
                        <input class="inputClass" type="text" id="city" name="city" placeholder="City" th:field="*{city}"/>
                    </div>
                    <div>
                        <input class="inputClass" type="text" id="street" name="street" placeholder="Street" th:field="*{street}"/>
                    </div>
                    <div>
                        <input class="inputClass" type="text" id="streetNumber" name="streetNumber" placeholder="Street number" th:field="*{streetNumber}"/>
                    </div>
                    <div>
                        <input class="inputClass" type="text" id="email" name="email" placeholder="Email" th:field="*{email}"/>
                    </div>
                    <div>
                        <input class="inputClass" type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone number" th:field="*{phoneNumber}"/>
                    </div>
                    <div>
                        <input class="inputClass" type="number" id="rowNumber" name="rowNumber" placeholder="Row number" th:field="*{rowNumbers}"/>
                    </div>
                    <div>
                        <input class="inputClass" type="number" id="seatNumber" name="seatNumber" placeholder="Seat number" th:field="*{seatNumbers}"/>
                    </div>
                    <div class="textCenter">
                        <input class="inputButton" type="submit" value="Add"/>
                    </div>
                </form>
            </div>
        </td>
        <td class="columnClass">
            <div th:each="theatre : ${theatersList}">
                <form  class="textCenter" th:id="${theatre.id}" action="#" th:action="@{/chooseTheatre}" th:object="${theatre}" method="post" xmlns="http://www.w3.org/1999/html">
                    <input  style="display:none" type="text" name="id" th:id="${theatre.id}" th:value="${theatre.id}"/>
                    <button type="submit"  class="formContainer center theatrContainer">
                         <p class="titleClass textCenter" th:text="${theatre.name}"></p>
                        <table class="center">
                            <tr>
                                <td>City:</td>
                                <td th:text="${theatre.city}"></td>
                            </tr>
                            <tr>
                                <td>Address:</td>
                                <td th:text="${theatre.street} + ' ' + ${theatre.streetNumber}"></td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td th:text="${theatre.email}"></td>
                            </tr>
                            <tr>
                                <td>Row numbers:</td>
                                <td th:text="${theatre.allSeatsNumber}"></td>
                            </tr>
                        </table>
                    </button>
                </form>
            </div>
        </td>
    </tr>
</table>

</body>

</html>


