<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>

    <style>
                .mainTableClass{
			width:100%;
		}

		.rowClass{
			width:100%;
		}

		.columnClass{
			width:50%;
		}

		.formContainer{
			margin-top: 15px;
			margin-bottom: 15px;
			padding: 20px;
			padding-top: 10px;
			width:50%;
			border-radius: 4px;
			border: 1px solid #ccc;
			background-color: #FAFAFA;
		}

		.formContainerAdd{
        			margin-top: 15px;
        			margin-bottom: 15px;
        			padding: 20px;
        			padding-top: 10px;
        			width:100%;
        			border-radius: 4px;
        			border: 1px solid #ccc;
        			background-color: #FAFAFA;
        		}

		.center{
			margin: 0 auto;
		}

		.textCenter{
			text-align: center;
		}

		.centerAdd{
          display: block;
          background-color: #eee;
          margin-left: auto;
          margin-right: auto;
        }

		.alignLeft{
		    margin-left: 5px;
		    text-align: left;
		}

		.alignRight{
		    margin-right: 5px;
		    text-align: right;
		}

		.tableAddPerformance{
		    margin-left: 15px;
		}

		.formClass{
			display: block;
		}

		.theatrContainer{
		    margin-top: 10px;
		    margin-bottom: 10px;
		}

		.theatrContainer:hover {
		    cursor: pointer;
            background-color: #B9B9B9;
        }

        #descriptionClass{
            height:150px;
        }

		.titleClass{
			padding-bottom: 10px;
			font-size: 30px;
			font-family: inherit;
			font-weight: 500;
		}

		.smallTitleClass{
       		font-size: 15px;
        	font-family: inherit;
        	font-weight: 300;
        }

		.inputClass{
			margin-top:5px;
			margin-bottom: 5px;
			background-color: #fff;
			font-size: 14px;
			padding: 6px;
			border-radius: 4px;
			border: 1px solid #ccc;
			width: 100%;
			height: 34px;
		}

		.inputButton{
		    color: #fff;
			background-color: #286090;
			border-color: #204d74;
			cursor: pointer;
			display: inline-block;
			padding: 6px 12px;
			padding-left: 20px;
			padding-right: 20px;
			margin-bottom: 0;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.42857143;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			border: 1px solid transparent;
			border-radius: 4px;
		}

		.menuPanel{
            margin-top: 10px;
            margin-bottom:25px;
		}

		.seatClass{
		    background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;
            outline:none;
		    width:100px;
		    height:100px;
		}

		.seatForm{
	    	margin: 5px;
    	    border: 1px solid transparent;
            border-radius: 6px;
            background-color: #FAFAFA;
		}

		.clearClass{
		    clear: both;
		}
    </style>
    <script>

    </script>
</head>

<body>

<p class="titleClass textCenter" th:text="${performance.play.name}"></p>
<p class="smallTitleClass textCenter" th:text="${performance.theatre.name}"></p>
<p class="smallTitleClass textCenter" th:text="${performance.date}"></p>
<p class="smallTitleClass textCenter" th:text="${performance.time}"></p>

<div class="formContainerAdd">
    <form class="formClass center" id="sendForm" action="#" th:action="@{/user/userChangeSeatStatus}" th:object="${reservation}" method="post"
          xmlns="http://www.w3.org/1999/html">
        <div class="textCenter">
            <h3 class="titleClass"> New Reservation</h3>
        </div>
        <input  style="display:none" type="text" name="reservationPerformanceId" id="performanceId" th:value="${performance.id}"/>
        <input  style="display:none" type="text" name="reservationSeatId" id="sendSeatId" />
        <div>
            <input class="inputClass" type="text" id="name" name="name" placeholder="Name" th:field="*{name}"/>
        </div>
        <div>
            <input class="inputClass" type="text" id="surname" name="surname" placeholder="Surname" th:field="*{surname}"/>
        </div>
        <div>
            <input class="inputClass" type="text" id="email" name="email" placeholder="Email" th:field="*{email}"/>
        </div>
        <div>
            <input class="inputClass" type="text" id="number" name="number" placeholder="Phone number" th:field="*{number}"/>
        </div>
    </form>
</div>


<input  style="display:none" type="text" name="seatNumber" id="seatNumber" th:value="${seatNumber}"/>
<table align="center">
    <div th:each="row : ${seats}">
        <tr>
            <div th:each="seat : ${row.reservationSeats}">
                <td>
                    <button th:disabled="${seat.status}" th:style="${seat.status} == true ? 'background-color:red' : 'background-color:green'" class="seatClass singleSeat seatForm" th:value="${seat.id}" th:id="${seat.id}" xmlns="http://www.w3.org/1999/html">
                    </button>
                </td>
            </div>
        </tr>
    </div>
</table>

<script th:src="@{/jquery-2.1.1.js}"></script>
<script th:src="@{/formhelper.js}"></script>
</body>

</html>