<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>

    <style>
        .textCenter{
			text-align: center;
		}
		.titleClass{
			padding-bottom: 10px;
			font-size: 30px;
			font-family: inherit;
			font-weight: 500;
		}
		.formContainer{
			margin-top: 15px;
			margin-bottom: 15px;
			padding: 20px;
			padding-top: 10px;
			width:50%;
			border-radius: 4px;
			border: 1px solid #ccc;
			background-color: #FAFAFA;
		}
		.theatrContainer:hover {
		    cursor: pointer;
            background-color: #B9B9B9;
        }
        .center{
			margin: 0 auto;
		}
		.specialmargin{
		    margin-top: 7px;
		    margin-botom: 7px;
		}
    </style>
</head>

<body>

<div class="textCenter">
    <p class="titleClass">Select Theatre!</p>
</div>
            <div th:each="theatre : ${theatresList}" class="textCenter specialmargin">
                <form  class="textCenter" th:id="${theatre.id}" action="#" th:action="@{/user/userChooseTheatre}" th:object="${theatre}" method="post" xmlns="http://www.w3.org/1999/html">
                    <input  style="display:none" type="text" name="id" th:id="${theatre.id}" th:value="${theatre.id}"/>
                    <button type="submit"  class="formContainer center theatrContainer">
                        <p class="titleClass textCenter" th:text="${theatre.name}"></p>
                        <table class="center">
                            <tr>
                                <td>City:</td>
                                <td th:text="${theatre.city}"></td>
                            </tr>
                            <tr>
                                <td>Address:</td>
                                <td th:text="${theatre.street} + ' ' + ${theatre.streetNumber}"></td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td th:text="${theatre.email}"></td>
                            </tr>
                            <tr>
                                <td>Row numbers:</td>
                                <td th:text="${theatre.allSeatsNumber}"></td>
                            </tr>
                        </table>
                    </button>
                </form>
            </div>

</body>

</html>


