<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>

    <style>
                .mainTableClass{
			width:100%;
		}

		.rowClass{
			width:100%;
		}

		.columnClass{
			width:50%;
		}

		.formContainer{
			margin-top: 15px;
			margin-bottom: 15px;
			padding: 20px;
			padding-top: 10px;
			width:50%;
			border-radius: 4px;
			border: 1px solid #ccc;
			background-color: #FAFAFA;
		}

		.formContainerAdd{
        			margin-top: 15px;
        			margin-bottom: 15px;
        			padding: 20px;
        			padding-top: 10px;
        			width:100%;
        			border-radius: 4px;
        			border: 1px solid #ccc;
        			background-color: #FAFAFA;
        		}

		.center{
			margin: 0 auto;
		}

		.textCenter{
			text-align: center;
		}

		.centerAdd{
          display: block;
          background-color: #eee;
          margin-left: auto;
          margin-right: auto;
        }

		.alignLeft{
		    margin-left: 5px;
		    text-align: left;
		}

		.alignRight{
		    margin-right: 5px;
		    text-align: right;
		}

		.tableAddPerformance{
		    margin-left: 15px;
		}

		.formClass{
			display: block;
		}

		.theatrContainer{
		    margin-top: 10px;
		    margin-bottom: 10px;
		}

		.theatrContainer:hover {
		    cursor: pointer;
            background-color: #B9B9B9;
        }

        #descriptionClass{
            height:150px;
        }

		.titleClass{
			padding-bottom: 10px;
			font-size: 30px;
			font-family: inherit;
			font-weight: 500;
		}

		.smallTitleClass{
       		font-size: 15px;
        	font-family: inherit;
        	font-weight: 300;
        }

		.inputClass{
			margin-top:5px;
			margin-bottom: 5px;
			background-color: #fff;
			font-size: 14px;
			padding: 6px;
			border-radius: 4px;
			border: 1px solid #ccc;
			width: 100%;
			height: 34px;
		}

		.inputButton{
		    color: #fff;
			background-color: #286090;
			border-color: #204d74;
			cursor: pointer;
			display: inline-block;
			padding: 6px 12px;
			padding-left: 20px;
			padding-right: 20px;
			margin-bottom: 0;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.42857143;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			border: 1px solid transparent;
			border-radius: 4px;
		}

		.menuPanel{
            margin-top: 10px;
            margin-bottom:25px;
		}

		.seatClass{
		    background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;
            outline:none;
		    width:100px;
		    height:100px;
		}

		.seatForm{
	    	margin: 5px;
    	    border: 1px solid transparent;
            border-radius: 6px;
            background-color: #FAFAFA;
		}

		.clearClass{
		    clear: both;
		}
    </style>

</head>

<body>
<table class="mainTableClass">
    <tr class="rowClass">
        <th class="columnClass">
            <p class="titleClass textCenter">Current Theatre</p>
        </th>
        <th class="columnClass">
            <p class="titleClass textCenter">Performances list for this Theatre</p>
        </th>
    </tr>
    <tr class="rowClass">
        <td class="columnClass">
            <div class="textCenter">
                <div class="formContainer center theatrContainer">
                    <p class="titleClass textCenter" th:text="${theatre.name}"></p>
                    <table class="center">
                        <tr>
                            <td>City:</td>
                            <td th:text="${theatre.city}"></td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td th:text="${theatre.street} + ' ' + ${theatre.streetNumber}"></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td th:text="${theatre.email}"></td>
                        </tr>
                        <tr>
                            <td>Phone number:</td>
                            <td th:text="${theatre.phoneNumber}"></td>
                        </tr>
                        <tr>
                            <td>Row numbers:</td>
                            <td th:text="${theatre.allSeatsNumber}"></td>
                        </tr>
                    </table>
                </div>
            </div>

        </td>
        <td>
            <div th:each="performance : ${performanceList}">
                <form  class="textCenter" th:id="${performance.id}" th:action="@{/user/userChoosePerformance}" th:object="${performance}" method="post" xmlns="http://www.w3.org/1999/html">
                    <input  style="display:none" type="text" name="id" th:id="${performance.id}" th:value="${performance.id}"/>
                    <button type="submit"  class="formContainer center theatrContainer">
                        <table class="center">
                            <tr>
                                <td>Theatre:</td>
                                <td th:text="${performance.theatre.name}"></td>
                            </tr>
                            <tr>
                                <td>Play:</td>
                                <td th:text="${performance.play.name}"></td>
                            </tr>
                            <tr>
                                <td>Date:</td>
                                <td th:text="${performance.date}"></td>
                            </tr>
                            <tr>
                                <td>Time:</td>
                                <td th:text="${performance.time}"></td>
                            </tr>
                        </table>
                    </button>
                </form>
            </div>
        </td>
    </tr>
</table>

</body>
</html>


